.popup{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;

    display: flex;
    justify-content:center;
    align-items: center;
}

.popup_inner{
    position: relative;
    padding: 50px;
    width: 50%;
    max-width: 500px;
    background-color: aquamarine;
    border-radius: 30px;
    

}

.popup_inner .close_btn{
    position: absolute;
    top: 16px;
    right:16px;

}