.formam {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .labelam {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .inputam {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .inputam:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .butam {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .butam:hover {
    background-color: #0056b3;
  }